<%- include('partials/header') -%>

/*
  TODO:
    show map with person pins
    pins link to individual person page
    sign up link if not signed in
*/
<a href="/login"> Login</a>
<a href="/signup"> Signup</a>
<p>this is index.ejs</p>

<%- include('partials/footer') -%>