<%- include('partials/header') -%>

/*
  TODO:
    display person details
    if signed in and created person, show delete/update option(s)
*/

<p>this is person.ejs</p>

<%- include('partials/footer') -%>