<%- include('partials/header') -%>

/*
  TODO:
    show list of all persons created by user
    add person
    update person
    delete person
*/
d

<a href="/logout">log out</a>


<p>This is the profile page. Here is the user's name: <%= `${user.name}` %></p>

<%- include('partials/footer') -%>